@{
    ViewData["Title"] = "My first view";
    string author = "Josué David Badilla Paredes";
    uint age = 21;
}

<html>
<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <div>
        <h1>Modifying a view:</h1>
        <p>
            <strong>I am: </strong> @author<br />
            I'm: <input type="number" value="@age" , placeholder="Type your age:" />
        </p>
    </div>

    <div>
        <label>I belong to the PI group: </label>
        <input type="text" placeholder="name" />
    </div>

    <div>
        <label>My ID is: </label>
        <input type="number" placeholder="Type your ID" />
    </div>

</body>

</html>
